 {% load static %}

  <!-- Book An Oppointment Area Start -->
  {% if user.is_authenticated %}
    <section class="book-an-oppointment-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-center white">
              <h2>Записаться на прием</h2>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- Appointment Form -->
            <div class="appointment-form">
              <form action="{% url 'appointment' %}" method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group mb-30">
                      <select name="clinic" class="form-control" required>
                        <option value="">Выберите клинику</option>
                        {% for clinic in about_us %}
                          <option value="{{clinic.id}}">{{clinic.title}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-30">
                      <select name="service" class="form-control" required>
                        <option value="">Выберите услугу</option>
                        {% for serv in services %}
                          <option value="{{serv.id}}">{{serv.title}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-30">
                      <select name="doctor" class="form-control" required>
                        <option value="">Выберите врача</option>
                        {% for doctor in doctors %}
                          <option value="{{doctor.id}}">{{doctor}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-30">
                      <select name="time" class="form-control" required>
                        <option value="">Выберите время</option>
                        <option value="8:00">8:00-9:00</option>
                        <option value="9:00">9:00-10:00</option>
                        <option value="10:00">10:00-11:00</option>
                        <option value="11:00">11:00-12:00</option>
                        <option value="12:00">12:00-13:00</option>
                        <option value="13:00">13:00-14:00</option>
                        <option value="14:00">14:00-15:00</option>
                        <option value="15:00">15:00-16:00</option>
                        <option value="16:00">16:00-17:00</option>
                        <option value="17:00">17:00-18:00</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mb-30">
                      <input id="datefield" name="date" type="date" min="1900-01-01" max="2100-01-01" class="form-control" required>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-30">
                      <textarea name="message" class="form-control" placeholder="Ваш коментарий"></textarea>
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <button type="submit" class="btn dento-btn">Записаться</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
  <!-- Book An Oppointment Area End -->

<script>
  $(document).ready(function () {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();

    if (dd < 10) {
       dd = '0' + dd;
    }

    if (mm < 10) {
       mm = '0' + mm;
    }

    let this_day = yyyy + '-' + mm + '-' + dd;
    document.getElementById('datefield').setAttribute('min', this_day)
  })

</script>