 {% load static %}
<!-- ***** Dento Dentist Area Start ***** -->
  <section class="dentist-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Наши врачи</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        {% for doc in doctors %}
          <!-- Single Dentist Area -->
          <div class="col-12 col-sm-6 col-md-4">
            <div class="single-dentist-area mb-100">
              <img src="{{ doc.image.url }}" alt="" width="400" height="400">
              <!-- Dentist Content -->
              <div class="dentist-content">
                <!-- Dentist Info -->
                <div class="dentist-info bg-gradient-overlay">
                  <h5>{{ doc.name }}</h5>
                  <p>{{ doc.specialization }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- ***** Dento Dentist Area End ***** -->