{% extends 'base.html' %}
{% load static %}
{% block title %}
    Личный кабинет
{% endblock %}

{% block meta_description %}Личный кабинет врача{% endblock %}"

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center white">
          <h1>Личный кабинет Администратора</h1>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="text-right white">
          <a href="/admin/" class="btn dento-btn booking-btn">Перейти к панеле администратора</a>
        </div>
      </div>

     {% include 'chat/chat_administrator.html' %}
    </div>

    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <h1>Клиенты</h1>
        </div>
      </div>

      <!-- client admin start -->
      <div class="dento-price-table table-responsive">
        <table class="table table-borderless mb-0">
          <thead>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">email</th>
            <th scope="col">Телефон</th>
            <th scope="col">Адрес</th>
            <th scope="col">Действие</th>
          </thead>
          {% for client in clients %}
            <tbody>
              <form action="" class="client_administration" id="form_{{client.id}}">
                {% csrf_token %}
                <th scope="col">
                  <input name="client_id" value="{{client.id}}" readonly style="display: none">
                  <input name="last_name" value="{{client.last_name}}" readonly size="12px"></th>
                <th scope="col"><input name="first_name" value="{{client.first_name}}" readonly size="12px"></th>
                <th scope="col"><input name="patronymic" value="{{client.patronymic}}" readonly size="12px"></th>
                <th scope="col"><input name="email" value="{{client.email}}" readonly size="12px"></th>
                <th scope="col"><input name="phone" value="{{client.phone}}" readonly size="12px"></th>
                <th scope="col"><input name="address" value="{{client.address}}" readonly></th>
                <th scope="col">
                  <input type="button" value="Изменить" class="change_client" id="change_{{client.id}}">
                  <input type="button" id="delete_{{client.id}}" value="Удалить" class="delete_client">
                  <input type="submit" id="save_{{client.id}}" value="Сохранить" class="save_client" style="display: none">
                  <input type="button" id="cancel_{{client.id}}" value="Отмена" class="cancel_client" style="display: none">
                </th>
              </form>
            </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
    <!-- Client admin End -->
  </div>
</section>

<<script src="{% static 'js/administrate_client.js' %}"></script>


{% endblock %}