{% extends 'base.html' %}
{% load static %}
{% block title %}
    Личный кабинет
{% endblock %}

{% block meta_description %}Личный кабинет врача{% endblock %}"

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center white">
          <h1>Личный кабинет Администратора</h1>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="text-center white">
          <h1>Личные данные</h1>
        </div>
      </div>

    </div>
    <!-- Client Questions End -->


  </div>
</section>

{% endblock %}