{% extends 'base.html' %}
{% load static %}
{% block title %}
    Личный кабинет
{% endblock %}

{% block meta_description %}Личный кабинет{% endblock %}"

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center white">
          <h1>Личный кабинет</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="text-center white">
          <h1>Личные данные</h1>
        </div>
      </div>
        <div class="col-12">
          <!-- Client Cabinet Form -->
          <div class="appointment-form">
            <form action="" method="post">
              {% csrf_token %}
              <div class="row">
                <!-- Personal info -->
                <div class="col-12">
                  <h3>Персональные данные</h3>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="name" type="text" class="form-control" placeholder="Имя" value="{{client.first_name}}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="surname" type="text" class="form-control" placeholder="Фамилия" value="{{client.last_name}}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="patronymic" type="text" class="form-control" placeholder="Отчество" value="{{client.patronymic}}">
                  </div>
                </div>
                <!-- Contact Info -->
                <div class="col-12">
                  <h3>Контактная информация</h3>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="email" type="email" class="form-control" placeholder="почта" value="{{client.email}}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="tel" type="text" class="form-control" placeholder="номер телефона" value="{{client.phone}}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="address" type="text" class="form-control" placeholder="адрес" value="{{client.address}}">
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Сохранить изменения</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      <!-- Client Cabinet Form End -->

    <div class="row">
      <div class="col-12">
        <!-- Client Questions -->
        <div class="appointment-form">
          <div class="row">
            <div class="col-12">
              <h3>Заданые вопросы</h3>
            </div>
            <div class="dento-price-table table-responsive">
              <table class="table table-borderless mb-0">
                <thead>
                  <th scope="col">Дата</th>
                  <th scope="col">Врач</th>
                  <th scope="col" width="400px">Вопрос</th>
                  <th scope="col" width="400px">Ответ</th>
                </thead>
                {% for q in questions %}
                  <tbody>
                    <th scope="col">{{q.date}}</th>
                    <th scope="col">{{q.doctor}}</th>
                    <th scope="col" width="400px">{{q.text}}</th>
                    <th scope="col" width="400px">{{q.answer}}</th>
                  </tbody>
                {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Client Questions End -->

    <div class="row">
      <div class="col-12">
        <div class="text-center white">
          <h1>Мои записи</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <!-- Client appointments -->
        <div class="appointment-form">
          <div class="row">
            <div class="col-12">
              <h3>Мои записи к врачу</h3>
            </div>
            <div class="dento-price-table table-responsive">
              <table class="table table-borderless mb-0">
                <thead>
                  <tr>
                    <th scope="col">Дата приема</th>
                    <th scope="col">Время приема</th>
                    <th scope="col">Услуга</th>
                    <th scope="col">Врач</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Ваш коментарий</th>
                    <th scope="col">Рзультат</th>
                  </tr>
                </thead>
                {% for a in user_appointment %}
                  <tbody>
                    <tr>
                      <th scope="row">{{a.date}}</th>
                      <th scope="row">{{a.time}}</th>
                      <th scope="row">{{a.service}}</th>
                      <th scope="row">{{a.doctor}}</th>
                      <th scope="row">{{a.service.price}}</th>
                      <th scope="row">{{a.client_comment}}</th>
                      {% if a.report %}
                        <th scope="row" width="400px">{{a.report}}</th>
                      {% else %}
                        <th scope="row">Результата пока нет</th>
                      {% endif %}
                    </tr>
                  </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Client appointments End -->

    <div class="row">
      <div class="col-12">
        <!-- Client Questions -->
        <div class="appointment-form">
          <div class="row">
            {% if client.special_message %}
              <div class="text-center">
                <div class="col-12">
                  <h2>sadasddsadsadsa</h2>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% include 'chat/chat_room.html' %}


    </div>
    <!-- Client Questions End -->


  </div>
</section>

{% endblock %}