{% extends 'base.html' %}
{% load static %}
{% block title %}
    Контакты
{% endblock %}

{% block meta_description %}Контакты стоматологии{% endblock %}"

{% block content %}
<!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Контакты</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i>Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Контакты</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->


  <!-- ***** Contact Area Start ***** -->

<!--  {% if message_name %}-->
<!--  &lt;!&ndash; Default message after send mail Area Start &ndash;&gt;-->
<!--    <center>-->
<!--        <h2> {{ message_name }}!</h2>-->
<!--        <p>Отправлено</p>-->
<!--    </center>-->
<!--      <br><br><br>-->
<!--  &lt;!&ndash; Default message after send mail Area End &ndash;&gt;-->
<!--  {% else %}-->

  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="google-maps mb-100">
            <iframe src=".74https://www.google.com/maps/"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Адресс</h5>
            <p>г.Минск, улица Короля 2а</p>

            <h5>Тел</h5>
            <p>+375291234567</p>


            <h5>Email</h5>
            <p class="mb-0">mail@example.com</p>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Обратная связь</h2>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form action="{% url 'contact' %}" method="post">  <!-- urls.py have a name contact -->
                {% csrf_token %}
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" name="message-name" class="form-control mb-30" placeholder="Имя">
                </div>
                <div class="col-lg-6">
                  <input type="email" name="message-email" class="form-control mb-30" placeholder="Email">
                </div>
                <div class="col-12">
                  <textarea name="message" class="form-control mb-30" placeholder="Текст сообщения"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn dento-btn">Отправить</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <!-- ***** Contact Area End ***** -->
{% endblock %}
