{% extends 'base.html' %}
{% load static %}
{% block title %}
    Личный кабинет
{% endblock %}

{% block meta_description %}Личный кабинет врача{% endblock %}"

{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center white">
          <h1>Личный кабинет врача</h1>
          <div class="line"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="text-center white">
          <h1>Личные данные</h1>
        </div>
      </div>
        <div class="col-12">
          <!-- Client Cabinet Form -->
          <div class="appointment-form">
            <form action="" method="post">
              {% csrf_token %}
              <div class="row">
                <!-- Personal info -->
                <div class="col-12">
                  <h3>Персональные данные</h3>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="name" type="text" class="form-control" placeholder="Имя" value="{{doctor.first_name}}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="surname" type="text" class="form-control" placeholder="Фамилия" value="{{doctor.last_name}}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="patronymic" type="text" class="form-control" placeholder="Отчество" value="{{doctor.patronymic}}">
                  </div>
                </div>
                <!-- Contact Info -->
                <div class="col-12">
                  <h3>Контактная информация</h3>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="email" type="email" class="form-control" placeholder="почта" value="{{doctor.email}}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="tel" type="text" class="form-control" placeholder="номер телефона" value="{{doctor.phone}}">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-30">
                    <input name="specialization" type="text" class="form-control" placeholder="специализация" value="{{doctor.specialization}}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-30">
                    <input name="description" type="text" class="form-control" placeholder="описание" value="{{doctor.description}}">
                  </div>
                </div>
                <div class="col-12 text-center">
                  <button type="submit" class="btn dento-btn">Сохранить изменения</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Client Cabinet Form End -->


    <div class="row">
      <div class="col-12">
        <!-- Client appointments -->
        <div class="appointment-form">
          <div class="row">
            <div class="col-12">
              <h3>Мои приемы</h3>
            </div>
            <div class="dento-price-table table-responsive">
              <table class="table table-borderless mb-0">
                <thead>
                  <tr>
                    <th scope="col">Дата приема</th>
                    <th scope="col">Время приема</th>
                    <th scope="col">Услуга</th>
                    <th scope="col">Пациент</th>
                    <th scope="col">Комментарий пациента</th>
                    <th scope="col">Отчет</th>
                  </tr>
                </thead>
                {% for a in user_appointment %}
                  <tbody>
                    <tr>
                      <th scope="row">{{a.date}}</th>
                      <th scope="row">{{a.time}}</th>
                      <th scope="row">{{a.service}}</th>
                      <th scope="row">{{a.client}}</th>
                      <th scope="row">{{a.client_comment}}</th>
                      <th scope="row"><a href="{{a.appointment_report}}" class="dento-btn">Отчет</a></th>
                    </tr>
                  </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Client appointments End -->

    <div class="row">
      <div class="col-12">
        <!-- Client Questions -->
        <div class="appointment-form">
          <div class="row">
            <div class="col-12">
              <h3>Заданые вопросы</h3>
            </div>
            <div class="dento-price-table table-responsive">
              <table class="table table-borderless mb-0">
                <thead>
                  <th scope="col">Дата</th>
                  <th scope="col">Пациент</th>
                  <th scope="col" width="400px">Вопрос</th>
                  <th scope="col" width="400px">Ответ</th>
                </thead>
                {% for q in questions %}
                  <tbody>
                    <th scope="col">{{q.date}}</th>
                    <th scope="col">{{q.client}}</th>
                    <th scope="col" width="400px">{{q.text}}</th>
                    <th scope="col" width="400px">
                      <form action="" method="post" class="answer_question">
                        {% csrf_token %}
                        <input hidden contenteditable="false" name="question_id" value="{{q.id}}">

                        <textarea name="answer" cols="35" rows="3">{{q.answer}}</textarea>
                        <button type="submit">Сохранить</button>
                      </form>
                    </th>
                  </tbody>
                {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>
    <!-- Client Questions End -->


  </div>
</section>

<script src="{% static 'js/question.js' %}"></script>


{% endblock %}