{% extends 'base.html' %}
{% load static %}
{% block title %}
    Услуги стоматологии
{% endblock %}

{% block meta_description %}Услуги стоматологии{% endblock %}"

{% block content %}



  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Услуги</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Услуги</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        {% for i in service %}
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{{ i.image.url }}" alt="image">
            </div>
            <h5>{{i.title}}</h5>
            <p>{{ i.content }}</p>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->


  <!-- ***** Testimonials Area Start ***** -->
  <section class="testimonials-area section-padding-100 bg-img bg-gradient-overlay jarallax clearfix" style="background-image: url({% static 'website/img/bg-img/7.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Testimonials Slides -->
          <div class="testimonials-slides owl-carousel">
            {% for mention in mentions %}
              <!-- Single Testimonials Slide -->
              <div class="single-testimonial-slide d-flex align-items-center">
                <!-- Thumbnail -->
                {% if mention.img %}
                  <div class="testimonial-thumb">
                    <img src="{{ mention.image.url }}" alt="">
                  </div>
                {% endif %}
                <!-- Content -->
                <div class="testimonial-content">
                  <h5>{{ mention.content }}</h5>
                  <h6>{{ mention.name }}</h6>
                  <p>{{ mention.description }}</p>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Testimonials Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Последние новости</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        {% for n in news %}
          <!-- Single Blog Item -->
          <div class="col-12 col-md-6 col-lg-4">
            <div class="single-blog-item mb-100">
              <a href="#">
                <img src="{% static 'website/img/bg-img/2.jpg' %}" alt="">
              </a>
              <!-- Blog Content -->
              <div class="blog-content">
                <a href="{{n.get_absolute_url}}" class="post-title">{{n.title}}</a>
                <p>{{n.content}}</p>
                <div class="post-meta">
                  <i class="icon_clock_alt"></i>{{n.publish_date}}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->


{% endblock %}